<link rel="stylesheet" type="text/css" href="../css/header.css">
<!-- header -->
<div class="nav-bar">
    <a href="" class="back-icon" style="visibility: hidden;">
        <i class="fa-solid fa-circle-arrow-left" style="color: #b8b8b8;"></i>
    </a>   
    <div class="title">
        CSV Upload
    </div>
</div>

